/results
/results_bk
*.tar
*.out
**/__pycache__
**/.vscode
*.lp
/script/wandb/
/script/single_run_2024-05-31_19-01-04/
/benchmarks/.tmp/
/ray_log
*.tar.gz
/sheets
/checkpoint
/wandb_logs
/dmp_temp_placement
/plot_test
debug.txt
err_log.txt
test.py
dockerstart.sh
dockercreate.sh
**.def
**.png
/wandb
benchmarks_bk
/benchmarks
/thirdparty
!/thirdparty/DREAMPlace_source
sheets_bk
sock_path

dataflow_info
dataflow_graph